[build]
  command = "npm install"
  publish = "."

[build.environment]
  NODE_VERSION = "18"
  NPM_FLAGS = "--legacy-peer-deps"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/server/:splat"
  status = 200
